.buttonCustom {
  border: 0;

  background-color: var(--blue1);
  color: var(--white1);

  font-size: 24px;
  font-weight: 500;
  line-height: 120%;

  padding: 16px 32px;

  border-radius: 8px;
  height: 69px;
  width: 208px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;

  &.isSelected {
    background-color: var(--white3);
    border: 2px solid var(--gray2);
    color: var(--blue1);
  }

  &:hover {
    filter: brightness(0.85);
  }
}