:root {
  --black1: #222426;
  --black2: #1A1C1E;
  --black3: #131517;

  --white1: #F7F8FA;
  --white2: #EDEFF1;
  --white3: #DFE3E8;

  --blue1: #3084E5;
  --blue2: #2175D7;
  --blue3: #1265C7;

  --gray1: #999EA3;
  --gray2: #868D96;
  --gray3: #747E8A;

  .color-gray1 {
    color: --gray1;
  }

  .color-gray2 {
    color: --gray2;
  }

  .color-gray3 {
    color: --gray3;
  }
}