$black-1: #222426;
$black-2: #1A1C1E;
$black-3: #131517;

$white-1: #F7F8FA;
$white-2: #EDEFF1;
$white-3: #DFE3E8;

$blue-1: #3084E5;
$blue-2: #2175D7;
$blue-3: #1265C7;

$gray-1: #999EA3;
$gray-2: #868D96;
$gray-3: #747E8A;