* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './colors.scss';
@import './typography.scss';

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100vh;
}

body {
  background-color: var(--white2);
}

#__next {
  height: calc(100% - 6rem);
}

a, button {
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

p, a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 146%;
}

p {
  font-size: 20px;
  line-height: 145%;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -2%;
}

h2 {
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -2%;
}

h3 {
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -2%;
}

h4 {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
}

.text-center {
  text-align: center;
}

strong {
  display: block;
}

button {
  cursor: pointer
}

.border {
  border: 1px solid #DA2A2A;
}

.hero {
  height: 100vh;
}

// @media (max-width: 2600px) {
//   html {
//     font-size: 143.75%; // 23px
//   }
// }

// @media (max-width: 1960px) {
//   html {
//     font-size: 106.25%; // 17px
//   }
// }

// @media (max-width: 1500px) {
//   html {
//     font-size: 81.25%; // 13px
//   }
// }

// @media(max-width: 768px) {
//   html {
//     font-size: 75%; // 12px
//   }
// }

// @media(max-width: 500px) {
//   html {
//     font-size: 68.75%; // 11px
//   }
// }

// @media(max-width: 400px) {
//   html {
//     font-size: 62.5%; // 10px
//   }
// }

// @media(max-width: 350px) {
//   html {
//     font-size: 56.25%; // 9px
//     stroke: 56.25%;
//   }
// }

// @media(max-width: 300px) {
//   html {
//     font-size: 50%; // 8x
//   }
// }