* {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box'
}

body {
  background: #F7F8FA;
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
}

button {
  cursor: pointer
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: #202124;
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

img {
  border-radius: 10%
}