.mainContent {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "infoFamily itemsGame"; 
  
  max-width: 1220px;
  height: 100vh;

  margin: 0 auto;

  padding-left: 32px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  transition: all 0.2s;

  .infoFamily {
    grid-area: infoFamily;

    margin-top: 92px;

    display: flex;

    .info {
      display: flex;
      flex-direction: column;

      transition: all 0.2s;

      .title {
        h1 {
          color: var(--black3);
          margin-bottom: 6px;
        }

        h4 {
          color: var(--gray2);
        }
      }

      .textContainer {
        margin-top: 108px;

        h3 {
          color: var(--black3);
          margin-bottom: 24px;
        }

        p {
          color: var(--gray3);
          width: 391px;
        }
      }

      .gameButtons {
        margin-top: 198px;

        h4 {
          margin-bottom: 16px;
        }

        .buttonsGame {
          display: flex;

          button {
            width: fit-content;
            margin-right: 16px;

            padding: 0 32px;
          }
        }
      }
    }

    .lineDivider {
      border: 1px solid var(--gray2);
      border-radius: 8px;
      height: 95vh;
      padding: 32px 0;
      margin-left: 78px;
      
      transition: all 0.2s;
    }
  }

  .itemsGame {
    grid-area: itemsGame;

    padding-top: 142px;
    padding-left: 36px;
    
    display: flex;
    flex-direction: column;

    transition: all 0.2s;

    .textInfoGame {
      align-self: center;
      text-align: center;

      h2 {
        color: var(--black3);
        margin-bottom: 8px;
      }

      p {
        color: var(--gray2);
      }
    }

    .containerItems {
      margin-top: 40px;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 32px;
      column-gap: 42px;

      transition: all 0.2s;

      button {
        width: 134px;
        height: 54px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 0.4px solid var(--black3);
        border-radius: 8px;
        box-shadow: 0px 8px 36px -10px rgba(0, 0, 0, 0.25);

        background-color: var(--white1);

        p:first-child {
          color: var(--black3);
          font-family: 'Rubik', sans-serif;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: -2%;
          margin-top: 2px;
        }

        p:last-child {
          color: var(--gray3);
          font-family: 'Inter', sans-serif;
          font-size: 8px;
          font-weight: 500;
        }

        &.itemSelected {
          flex-direction: row;
          justify-content: center;
  
          color: var(--blue1);
  
          p {
            color: var(--blue1);
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -2%;

            margin-left: 4px;
            margin-top: 4px;
          }
        }
      }
    }

    .quantItemsSelected {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      color: var(--gray2);

      padding-top: 68px;
      padding-right: 32px;
    }
  }
}