.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 0;
  padding-left: 54px;

  background-color: var(--white1);

  transition: all 0.2s;

  > div {
    display: flex;

    .iconHome {
      margin-right: 64px;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        position: relative;

        display: inline-block;
        margin-right: 48px;

        &:hover {
          ul {
            z-index: 1;
            position: absolute;

            background-color: var(--white3);
            border: 0.4px solid var(--gray2);
            border-radius: 8px;

            display: block;

            li {
              width: 250px;

              padding: 16px;

              transition: .2s ease;

              p {
                color: var(--gray2);
              }

              &:hover {
                transform: translate(3%);

                h4 {
                  color: var(--blue1);
                }
              }
            }
          }
        }
  
        ul {
          display: none;
        }
      }
    }

    a {
      color: var(--black2);
    }
  }

  button {
    border-radius: 8px;
    height: 2.5rem;
    width: 3.2rem;

    border: 0;
    transition: all 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}